body {
    margin: 0;
    padding: 0;
    font-family: Arial, Century Goethic, Opensans, Venda;
    background-color: #F4F4F4;
}

/*Cookie Banner*/

#footer-cookie,
#footer-cookie * {
  box-sizing: border-box;
}

#footer-cookie {
  display: none;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 60px;
  background: #ADDEE8;
  color: #fff;
}

#footer-cookie a {
  color: #fff;
}

#footer-cookie #description {
  float: left;
}

#footer-cookie #accept {
  float: right;
}

#footer-cookie #accept a {
  border: 1px solid #fff;
  padding: 5px 10px;
  text-decoration: none;
}

@media (max-width: 1200px) {
  #footer-cookie {
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: inherit;
    height: auto;
  }

  #footer-cookie #description {
    width: 100%;
  }

  #footer-cookie #accept {
    width: 100%;
    margin-top: 15px;
  }

  #footer-cookie #accept a {
    width: 100%;
    display: block;
    text-align: center;
  }
}

.bg-index {
    background-image: url(portrait-kamera.png);
    z-index: -1;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logoheader {
    right: 5%;
    height: 30%;
    padding-top: 5em;
    padding-left: 1em;
    position: absolute;

}

.txt-startseite {
    margin-top: 3em;
    margin-left: 3em;
    margin-right: 80%;
    position: absolute;
}

h1, hr, p {
    color: #707070;
}

/* Anpassen*/
.w30p {
    width: 30%;
}

.w40p {
    width: 40%;
}

.w50p {
    width: 50%;
}

.w60p {
    width: 60%;
}

.w70p {
    width: 70%;
}

.w100p {
    width: 100%;
}

.plr10p {
    padding-left: 10%;
    padding-right: 10%;
}

.mt50 {
    margin-top: 50px;
}

.flex-container {
    display: flex;
    flex-direction: row;

    width: 100%;
}


.self-center {
    align-self: center;
}

.only-mobile {
    display: none;
}
.text-center{
    text-align: center;
}

.highlight{
    text-decoration: underline;
    color:red;
}

